@import url('https://fonts.gooogleapis.com/css2?family=Source+Sans+Pro:wght:@400;600');
@import '~bootstrap/scss/bootstrap';
@import "./_setting";

*
{
  box-sizing: border-box;
}

body
{
    margin: 0;
    line-height: 1.3rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}
.css-79elbk {
  position: static !important;
}
textarea
{
  resize: none;
}
.modal-backdrop.confirm-modal
{
  &.show
    {
        opacity: 0.8;
        z-index: 1055;
    }
}
i.error
{
  color: red;
  position: absolute;
}
.input
{
  
  i.error
  {
    display: none;
  }
  &.error
  {
    input
    {
      &.form-control
      {
        border: 1px solid red;
      }
    }
    i
    {
      display: block;
    }
  }
}
._3C1ARRDXoDx7-m
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    img
    {
        margin-bottom: 16px;
        height: 50px;
        width: 50px;
    }
    .N6pxYXUylS_c1r
    {
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
        max-width: 300px;
        color: #5e6c84;
        opacity: 0.5;
    }
}

.css-df17o1
{
  color: $col-color!important;
  background: rgba(0,0,0,0.1)!important;
  ._loading_overlay_content
  {
    ._loading_overlay_spinner
    {
      svg
      {
        circle
        {
          stroke: $col-color!important;
        }
      }
    }
  }
}

.close
{
  background-color: transparent;
  border: none;
  font-size: 14px;
  &:hover, &:focus
  {
    background-color: $background-hover-btn;
  }
  &.dropdown-toggle::after
  {
    margin-left: 0.5rem;
  }
  span
  {
    font-size: 25px;
  }
}

.dropdown-menu
{
  width: 304px;
  box-shadow: $box-shadow;
  padding: 10px 0px;
  .dropdown-header
  {
    padding: 2px 1rem;
    text-align: center;
    color: $text-header-menu-color;
    .close
    {
      position: absolute;
      top: 10px;
      right: 5px;
      height: auto;
      background: none;
      span
      {
        &:first-child
        {
          font-size: 24px;
          color: $text-header-menu-color;
        }
      }
    }
  }
  .dropdown-body
  {
    padding: 0px 20px;
  }
  .dropdown-item
  {
    font-size: 14px;
    padding: 7px 20px;
    color: $text-header-menu-color;
    &:focus
    {
      background-color: #e4f0f6;
    }
    
  }
  .dropdown-divider
  {
    margin: 5px 15px;
  }
}

.trello-app
{
  height: 100vh;
  background-color: $board-bg-color;
  overflow: hidden;
  color: $col-color;
  &.workspace-page
  {
    background-color: $background-form;
  }
}

.icon{
  font-size: 14px;
  margin-right: 3px;
  padding: 0 8px;
}
.add-new-column-container
{
  margin: 0 15px;
  padding: 0;
  max-width: 300px;
}
textarea, 
textarea.form-control, 
input.form-control, 
input[type=text], 
input[type=password], 
input[type=email] 
input[type=number], 
[type=text].form-control, 
[type=password].form-control, 
[type=email].form-control, 
[type=tel].form-control, 
[contenteditable].form-control
{
  font-size: 14px;
  border-radius: 3px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}
.btn:focus, .btn:active{
  box-shadow: none!important;
  outline: none!important;
}
.title-editable{
  background-color: inherit;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  &:focus{
    background-color: white;
    cursor: text;
    border: 1px solid $border-input-focus-color;
  }
}
textarea{
  margin-bottom: $gap;
  min-height: 73px;
  max-height: 162px;
}
.column-action{
  display: flex;
  justify-content: space-between;
  i{
    color: #abc;
    font-size: 25px;
    padding-top: 3px;
    margin: 0;
    cursor: pointer;
    &:hover
    {
      color: #8b939b;
    }
  }
}
.menu-header
{
  text-align: center;
  padding: 0px 20px;
  font-size: 14px;
  color: $text-header-menu-color;
}
svg
{
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    pointer-events: none;
    vertical-align: bottom;
}
h1
{
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 12px;
}
h6
{
  font-size: 12px;
  font-weight: 600;
  color: $text-header-menu-color;
}
span
{
  font-size: 14px;
  font-weight: 600;
  color: $text-header-menu-color;
  height: fit-content;
}
img
{
  object-fit: cover;
  width: 100%;
  height: auto;
}
.image-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn
{
    font-size: 14px;
}
.dropdown
{
  .btn{
    background-color: transparent;
    border: none;
    font-size: 14px;
    &:hover, &:focus
    {
      background-color: $background-hover-btn;
    }
    &.dropdown-toggle::after
    {
      margin-left: 0.5rem;
    }
  }
  &.icon-toggle
  {
    margin-left: 10px;
    .btn
    {
      &::after
      {
        display: none;
      }
    }
  }
  &.show
  {
    .btn
    {
      background-color: rgba(255, 255, 255, 0.3)!important;
    }
  }
}
.card-header
{
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #5e6c84;
  font-weight: 600;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
i
{
  font-size: 16px;
  color: $text-header-menu-color;
  margin-right: 10px;
}
a
{
  color: $link-hover;
  &:hover
  {
    color: $col-color;
  }
}
label{
  color: $color-modal-title;
  font-weight: 600;
}
input
{
  &:focus-visible
  {
    outline: none;
  }
    margin-bottom: 10px;
}
select
{
    cursor: pointer;
}
strong{
  margin-right: 5px;
}
.form-group
{
    margin-bottom: 20px;
}

.row
{
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.modal-content
{
  width: 1200px;
  .modal-header
  {
    .modal-title
    {
        color: $color-modal-title;
        font-weight: 600;
    }
  }
  .modal-body
  {
    h6, span
    {
        color: $color-modal-description;
        font-size: 12px;
        font-weight: 500;
    }
  }
}

@media only screen and (min-width: 576px) {
  /* styles for browsers larger than 960px; */
  /* max-width: 500px; */
  .modal-dialog
  {
      max-width: none;
      display: flex;
      justify-content: center;
  }
}